<!-- novedades.tmpl -->
<TMPL_LOOP NAME=NOVEDAD>
   <p id="<TMPL_VAR NAME=CODIGO>">
   Nombre: <TMPL_VAR NAME=NOMBRE><br/>
   Resumen: <TMPL_VAR NAME=RESUMEN><br/>
   Categoria: <TMPL_LOOP NAME=CATEGORIAS>- <TMPL_VAR NAME=TAG> </TMPL_LOOP>
   </p>
</TMPL_LOOP>

