<!-- novedad.tmpl -->
<div id="<TMPL_VAR NAME=CODIGO>">
	<div class="nombre">Nombre: <TMPL_VAR NAME=NOMBRE></div>
	<div class="descripcion">Descripción: <TMPL_VAR NAME=DESCRIPCION>	</div>
	<div class="categorias">Categorias:
		<TMPL_LOOP NAME=CATEGORIAS><span class="categoria"><TMPL_VAR NAME=TAG></span></TMPL_LOOP>
	</div>
</div>