<!-- novedad.tmpl -->
<p id="<TMPL_VAR NAME=CODIGO>">
   Nombre: <TMPL_VAR NAME=NOMBRE><br/>
   Resumen: <TMPL_VAR NAME=RESUMEN><br/>
   Categorias: <TMPL_LOOP NAME=CATEGORIAS>- <TMPL_VAR NAME=TAG> </TMPL_LOOP>
</p>